
.icon-wordpress:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
